/*=================*/
/* Project display */
/*=================*/
#mostRecentProject {
  max-width: 45%;
  margin: 0 auto;
}

#recentGithub {
  margin-top: 2em;
}

#recentGithub ul {
  list-style: none;
  padding: 0;
}

#recentGithub li {
  background: #1e1e1e;
  border-radius: 10px;
  padding: 1em;
  margin-bottom: 1em;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
  transition: transform 0.2s;
}

#recentGithub li:hover, .project:hover {
  transform: scale(1.02);
  border-color: cyan;
  box-shadow: 0 0 10px cyan;
}

#recentGithub a, .project a {
  font-weight: bold;
  font-size: 1.2em;
  color: cyan;
  text-decoration: none;
}

#recentGithub p, .project p {
  margin: 0.3em 0 0.5em;
  font-size: 0.95em;
  color: #ccc;
}

#recentGithub small, .project small {
  color: #888;
}

#recentGithub a:hover, .project a:hover {
	text-decoration: underline;
}

#projectDisplay {
  max-width: 90%;
  margin: 2em auto;
}

.projectGrid {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
  margin-top: 1em;
}

.project {
  background: #1e1e1e;
  border-radius: 10px;
  padding: 1em;
  flex: 0 1 30%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  transition: transform 0.2s;
}

/*=====================*/
/*==== Mobile View ====*/
/* (Max width: 768px) */
/*=====================*/
@media (max-width: 768px) {
  
  #mostRecentProject {
    flex: 0 1 25%;
    max-width: 80%;
  }

  .projectGrid .project {
    flex: 0 1 35%;
    max-width: 40%;
  }
}